.my-body1{
  background-color: #C5C5C5;
}

.my-h1{
  text-align: center;
}

.my-p1{
  text-align: center;
}

.my-p2{
  text-align: center;
}

.my-cp1{
  text-align: center;
}

.my-ap1{
  text-align: center;
}

.my-bp1{
  text-align: center;
}

.my-ip1{
  text-align: center;
}
